{% extends 'admin/admin_base.html' %}

{% block head %}
    <title>Change Password | SpEnD</title>
{% endblock %}

{% block body %}
    <form method="POST">
        <section class="hero is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h3 class="title has-text-black">Change Password</h3>
                        <hr class="login-hr">
                        <div class="box">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <label for="current_password">
                                        <input class="input is-large" type="password" autofocus="" id="current_password"
                                               placeholder="current password" name="current_password" required>
                                        <span class="icon is-small is-left">
                                      <i class="fa fa-lock-open"></i>
                                    </span>
                                    </label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <label for="new_password">
                                        <input class="input is-large" type="password" id="new_password"
                                               placeholder="new password" name="new_password" required>
                                        <span class="icon is-small is-left">
                                      <i class="fa fa-lock"></i>
                                    </span>
                                    </label>
                                </div>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Change</button>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    <hr style="width: 40%; margin-left: auto; margin-right: auto; background-color: #7a7a7a;">
                                    <ul class=flashes>
                                        {% for category, message in messages %}
                                            <div class="{{ category }}">{{ message }}</div>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}