<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://i.imgur.com/wgzjCcl.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page-500.css') }}">
    <title>500</title>
</head>

<body>

<div class="error-500" data-text="Oh no! Our spaghetti code is not working properly. We will be back soon!">
    <spaguetti>
    <fork></fork>
    <meat></meat>
    <pasta></pasta>
    <plate></plate>
  </spaguetti>
</div>

</body>
</html>