<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/css/errors/page-404.css">
    <title>404 | SpEnD</title>
</head>

<body>
<div class="wrap-404">
    <div class="label">Error</div>
    <div class="numbers">
        <div class="number">
            <div class="four"></div>
        </div>
        <div class="number">
            <div class="zero"><span></span></div>
        </div>
        <div class="number">
            <div class="four last"></div>
        </div>
    </div>
    <div class="text">
        <p>Looks like you got lost... Or we trying to confuse you... </p>
        <p> Let us bring you at <a href="/">home</a>.</p>
    </div>
    <div class="sleep-walker">
        <div class="man">
            <div class="head"></div>
            <div class="torso">
                <div class="arm-a"></div>
                <div class="arm-b"></div>
            </div>
            <div class="legs">
                <div class="leg-a"></div>
                <div class="leg-b"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
