<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/css/errors/page-403.css">
    <title>403 | SpEnD</title>
</head>

<body>
<div class="ghost">
<div class="ghost--navbar"></div>
  <div class="ghost--columns">
    <div class="ghost--column">
      <div class="code"></div>
      <div class="code"></div>
      <div class="code"></div>
      <div class="code"></div>
    </div>
    <div class="ghost--column">
      <div class="code"></div>
      <div class="code"></div>
      <div class="code"></div>
      <div class="code"></div>
    </div>
    <div class="ghost--column">
      <div class="code"></div>
      <div class="code"></div>
      <div class="code"></div>
      <div class="code"></div>
    </div>

  </div>
  <div class="ghost--main">
    <div class="code"></div>
    <div class="code"></div>

  </div>

</div>

<h1 class="police-tape police-tape--1">
  &nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403
</h1>
<h1 class="police-tape police-tape--2">Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
</body>