{% extends 'admin/manage/manage_base.html' %}

{% block tabtitle %}Endpoints - Pending | SpEnD{% endblock %}

{% block title %}{{ super() }}{% endblock %}
{% block subtitle %}Pending{% endblock %}

{% block tabletitle %}Pending Endpoints{% endblock %}

{% block noendpoint %}There are no Endpoint that awaits for approval.{% endblock %}

{% block tablehead %}{{ super() }}{% endblock %}

{% block tablebody %}
    <form action="/admin/manage/pending" method="POST">
        {% for endpoint in endpoints %}
            <tr>
                <td style="text-align: left">
                    <a href="{{ endpoint.url }}" target="_blank">
                        {{ endpoint.url | truncate(70, True) | replace("https://", "") | replace("http://", "") }}
                    </a>
                </td>
                <td>{{ endpoint.date_created.strftime("%d.%m.%y %H:%M") }}</td>
                <td>{% if endpoint.up_now %}
                    <span class="icon has-tooltip-success has-tooltip-bottom" data-tooltip="Live">
                        <i class="fas fa-check-circle fa-lg" style="color:green;"></i></span>
                {% else %}
                    <span class="icon has-tooltip-danger has-tooltip-bottom" data-tooltip="Not Responding">
                        <i class="fas fa-times-circle fa-lg" style="color:darkred;"></i></span>
                {% endif %}
                </td>
                <td>
                    <button class="button is-small is-info has-tooltip-bottom" name="inspect"
                            value="{{ endpoint.url }}" formtarget="_blank" data-tooltip="Inspect"
                            formaction="{{ url_for('endpoint', ep_url = endpoint.url) }}">
                        <span class="icon"><i class="fas fa-search" title="Inspect"></i></span>
                    </button>
                    <button class="button is-small is-success has-tooltip-bottom" name="approve" data-tooltip="Approve"
                            value="{{ endpoint.url }}" formaction="/approve" style="margin-left:5px;">
                        <span class="icon"><i class="fas fa-check"></i></span>
                    </button>
                    <button class="button is-small is-warning has-tooltip-bottom" name="suspend" data-tooltip="Suspend"
                            value="{{ endpoint.url }}" formaction="/suspend" style="margin-left:5px;">
                        <span class="icon"><i class="fas fa-pause"></i></span>
                    </button>
                    <button class="button is-small is-danger has-tooltip-bottom" name="remove" data-tooltip="Remove"
                            value="{{ endpoint.url }}" formaction="/remove" style="margin-left:5px;">
                        <span class="icon"><i class="fas fa-trash"></i></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </form>
{% endblock %}