{% extends 'admin/manage/manage_base.html' %}

{% block tabtitle %}Endpoints - Removed | SpEnD{% endblock %}

{% block title %}{{ super() }}{% endblock %}
{% block subtitle %}Removed{% endblock %}

{% block tabletitle %}Removed Objects{% endblock %}

{% block noendpoint %}There are no removed objects.{% endblock %}

{% block tablehead %}
    <th style="text-align: left">
        <span class="icon"><i class="fas fa-link"></i></span>
        Link
    </th>
    <th>
        <span class="icon"><i class="fas fa-calendar-alt"></i></span>
        <abbr title="DD/MM/YYYY - UTC +0">Create Date</abbr>
    </th>
{% endblock %}


{% block tablebody %}
    <form action="/admin/manage/removed" method="POST">
        {% for endpoint in endpoints %}
            <tr>
                <td style="text-align: left">
                    <a href="{{ endpoint.url }}" target="_blank">
                        {{ endpoint.url | truncate(80, True) |
                                        replace("https://", "") | replace("http://", "") }}
                    </a>
                </td>
                <td>{{ endpoint.date_created.strftime("%d.%m.%y %H:%M") }}</td>
                <td>
                    <button class="button is-small is-info" name="inspect" title="Inspect"
                            value="{{ endpoint.url }}" formtarget="_blank"
                            formaction="{{ url_for('endpoint', ep_url = endpoint.url) }}">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                    </button>
                    <button class="button is-small is-primary" name="recover" title="Recover"
                            value="{{ endpoint.url }}" formaction="/recover"
                            style="margin-left:5px;">
                                        <span class="icon">
                                            <i class="fas fa-trash-restore"></i>
                                        </span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </form>
{% endblock %}