{% extends 'admin/admin_base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ endpoints|length }}</p>
                <p class="subtitle">Suspended Endpoints</p>
            </article>
        </div>
    </div>
</section>

<form action="/suspended_endpoints" method="POST">
    <div class="column is-vcentered">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-centered title is-5">
                    Suspended
                </p>
            </header>
            <hr>
            <div class="card-table">
                <div class="content">
                    <div id="table-scroll" style="height: 500px; overflow: auto; margin: auto;">
                        {% if endpoints|length < 1 %}
                        <h1 class="title is-4" style="text-align: center">There are no suspended Endpoint.</h1>
                        {% else %}
                        <table class="table is-fullwidth is-striped is-hoverable"
                               id="suspendedEpTable" style="text-align: center">
                            <thead>
                            <tr>
                                <th style="text-align: left">Endpoint</th>
                                <th>Create Date</th>
                                <th>Alive</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                            {% for endpoint in endpoints %}
                            <tr>
                                <td style="text-align: left">
                                    <a href="{{ endpoint.url }}" target="_blank">
                                        {{ endpoint.url | truncate(70, True) |
                                        replace("https://", "") | replace("http://", "") }}
                                    </a>
                                </td>
                                <td>{{ endpoint.date_created.strftime("%d.%m.%Y %H:%M:%S") }}</td>
                                <td>{% if endpoint.up_now %}
                                    <img src="/static/images/thick.png" alt="True">
                                    {% else %}
                                    <img src="/static/images/cross.png" alt="False">
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="button is-small is-primary" name="unsuspend"
                                            value="{{ endpoint.url }}" formaction="/unsuspend">
                                        Unsuspend
                                    </button>
                                    <button class="button is-small is-info" name="inspect"
                                            value="{{ endpoint.url }}" formaction="/selectedEndpoint"
                                            formtarget="_blank" style="margin-left:5px;">
                                        Inspect
                                    </button>
                                    <button class="button is-small is-danger" name="remove"
                                            value="{{ endpoint.url }}" formaction="/remove" style="margin-left:5px;">
                                        Remove
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
