{% extends 'admin/admin_base.html' %}

{% block head %}
<title>Unwanted Keys - Keywords | SpEnD</title>
{% endblock %}

{% block body %}
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ keywords|length }}</p>
                <p class="subtitle">Keywords</p>
                <p>Keywords to be discarded from results</p>
            </article>
        </div>
    </div>
</section>

<div class="column is-vcentered">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-centered title is-5">
                Unwanted Keys - Keywords
            </p>
        </header>
        <hr>
        <div class="card-table">
            <div class="content">
                <div id="table-scroll" style="height: 500px; overflow: auto; margin: auto;">
                    {% if keywords|length < 1 %}
                    <h1 class="title is-4" style="text-align: center">
                        There are no Unwanted Keywords yet.</h1>
                    {% else %}
                    <table class="table is-fullwidth is-striped is-hoverable" style="text-align: center">
                        <thead>
                        <tr>
                            <th style="text-align: left">
                                <span class="icon"><i class="fas fa-i-cursor"></i></span>
                                Keywords
                            </th>
                            <th>
                                <span class="icon"><i class="fas fa-cogs"></i></span>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for keyword in keywords %}
                        <tr>
                            <td style="text-align: left">
                                {{ keyword }}
                            </td>
                            <td>
                                <form action="/remove_log" method="POST">
                                    <button class="button is-small is-danger" name="remove_log"
                                            value="{{ keyword }}" title="Remove">
                                        <span class="icon">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}