{% extends 'base.html' %}

{% block head %}<title>About | SpEnD</title>{% endblock %}

{% block body %}
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column has-text-centered">
                    <h1 class="title is-1">About</h1>
                    <h1 class="subtitle is-3">Project & Devs</h1>
                </div>
                <hr class="hr"/>
                <div class="columns is-variable">
                    <div class="column is-half">
                        <p class="title is-4">SparQL Endpoint Crawler & Analyzer</p>
                        <p class="is-size-5">Crawls various search engines (e.g. Google, Bing, Yahoo, etc.) with given
                            query keywords.</p>
                        <p class="is-size-5">Checks if gathered websites is an Endpoint or not, if so stores them in the
                            database. (i.e. MongoDB).</p>
                        <br><br>
                        <p class="is-size-5"><strong>SpEnD</strong> is Senior Design project for BSc degree.</p>
                    </div>
                    <div class="column is-half">
                        <p class="title is-4">Developed by</p>
                        <div style="display: flex; flex: 1; justify-content: center; align-items: center;">
                            <div style="flex: 1.5;"><p class="is-size-4">Mustafa Ülker</p></div>
                            <div class="divider is-vertical"><p>can be</p>
                                <p>reached on</p></div>
                            <div style="flex: 1">
                                <a href="https://www.github.com/mustafaulker" target="_blank" style="display: inline;">
                                    <button class="button is-medium is-github has-tooltip-bottom" data-tooltip="GitHub"
                                            style="width: 40px; height: 40px"><i class="fab fa-github fa-lg"></i>
                                    </button>
                                </a>
                                <a href="https://www.linkedin.com/in/mustafaulker" target="_blank"
                                   style="display: inline;">
                                    <button class="button is-medium is-linkedin has-tooltip-bottom"
                                            data-tooltip="LinkedIn" style="width: 40px; height: 40px">
                                        <i class="fab fa-linkedin-in fa-lg"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="divider">and</div>
                        </div>
                        <div style="display: flex; flex: 1; justify-content: center; align-items: center;">
                            <div style="flex: 1.5;"><p class="is-size-4">Ulunay Ocak</p></div>
                            <div class="divider is-vertical"><p>can be</p>
                                <p>reached on</p></div>
                            <div style="flex: 1;">
                                <a href="https://github.com/ulunayocak" target="_blank" style="display: inline;">
                                    <button class="button is-medium is-github has-tooltip-bottom" data-tooltip="GitHub"
                                            style="width: 40px; height: 40px"><i class="fab fa-github fa-lg"></i>
                                    </button>
                                </a>
                                <a href="https://www.linkedin.com/in/ulunay-ocak-101497187/"
                                   target="_blank" style="display: inline;">
                                    <button class="button is-medium is-linkedin has-tooltip-bottom"
                                            data-tooltip="LinkedIn" style="width: 40px; height: 40px">
                                        <i class="fab fa-linkedin-in fa-lg"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="divider">Under the counseling of</div>
                        <div style="display: flex; flex: 1; justify-content: center; align-items: center;">
                            <div style="flex: 1.5;"><p class="is-size-4">Semih Yumuşak</p></div>
                            <div class="divider is-vertical"><p>can be</p>
                                <p>reached on</p></div>
                            <div style="flex: 1;">
                                <a href="https://www.github.com/semihyumusak" target="_blank" style="display: inline;">
                                    <button class="button is-medium is-github has-tooltip-bottom" data-tooltip="GitHub"
                                            style="width: 40px; height: 40px"><i class="fab fa-github fa-lg"></i>
                                    </button>
                                </a>
                                <a href="https://www.linkedin.com/in/semih-yumusak-163a7385/"
                                   target="_blank" style="display: inline;">
                                    <button class="button is-medium is-linkedin has-tooltip-bottom"
                                            data-tooltip="LinkedIn" style="width: 40px; height: 40px">
                                        <i class="fab fa-linkedin-in fa-lg"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}