{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<form method="POST" name="contact_form">
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-8 is-variable">
                    <div class="column is-two-thirds has-text-left">
                        <h1 class="title is-1">Contact Us</h1>
                        <p class="is-size-3">Feel free to contact with us for any of your thoughts.</p>
                        <p class="is-size-4">Issues can be reported by message or on
                            <a href="https://github.com/mustafaulker/SpEnD-v3/issues">Github Issues</a>
                        </p>
                    </div>

                    <div class="column is-one-third has-text-left">
                        <div class="field">
                            <label class="label" for="contact_name">Name</label>
                            <div class="control">
                                <label>
                                    <input class="input is-medium" type="text" id="contact_name" name="cont_name"
                                           required>
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="contact_subject">Subject</label>
                            <div class="select is-hoverable">
                                <label>
                                    <select class="is-hovered" id="contact_subject" name="cont_subject" required>
                                        <option value="Question">Question</option>
                                        <option value="Request">Request</option>
                                        <option value="Feedback">Feedback</option>
                                        <option value="Issue">Issue</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="contact_email">Email</label>
                            <div class="control">
                                <label>
                                    <input class="input is-medium" type="email" id="contact_email" name="cont_email"
                                           required>
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="contact_message">Message</label>
                            <div class="control">
                                <label>
                                    <textarea class="textarea is-medium" id="contact_message"
                                              name="cont_message" required></textarea>
                                </label>
                            </div>
                        </div>
                        {{ recaptcha }}
                        <br>
                        <div class="control">
                            <button type="submit" class="button is-focused is-link is-fullwidth
                            has-text-weight-medium is-medium" id="send_button">
                                Send Message
                            </button>
                        </div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <hr>
                        <ul class=flashes>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock %}