{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<form action="/endpoint.html/<ep_url>" method="GET">
    <section class="hero is-large">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column has-text-centered">
                    <h1 class="title is-2">Endpoint</h1>
                    <hr style="width:20%; height: 2px; margin-left: auto; margin-right: auto;"/>
                    <h1 class="subtitle is-4">
                        <a href="{{ endpoint.url }}">{{ endpoint.url }}</a>
                    </h1>
                </div>
                <hr class="hr"/>
                <div class="columns is-variable">
                    <div class="column is-one-third">
                        <p class="title is-5">Create Date</p>
                        <hr style="width:30%; height: 2px; margin-left: auto; margin-right: auto;"/>
                        {{ endpoint.date_created.date().strftime("%d-%m-%Y") }}
                    </div>
                    <div class="column is-one-third">
                        <p class="title is-5">Last Check</p>
                        <hr style="width:30%; height: 2px; margin-left: auto; margin-right: auto;"/>
                        {{ endpoint.date_checked.strftime("%d-%m-%Y %H:%M:%S") }}
                    </div>
                    <div class="column is-one-third">
                        <p class="title is-5">is Alive</p>
                        <hr style="width:30%; height: 2px; margin-left: auto; margin-right: auto;"/>
                        {% if endpoint.up_now %}
                        <img src="{{ url_for('static', filename='images/thick.png') }}" alt="True">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/cross.png') }}" alt="False">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock %}