{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<form action="">
    <div style="margin-left: 10%; margin-top: 2%;">
        <h1 class="title is-1 is-center">Endpoints</h1>
        <div class="control has-icons-left" style="margin-top: 2%;">
            <label>
                <input class="input is-rounded" type="text" placeholder="Search"
                       style="width: 15%" id="endpointSearch" onkeyup="search_filter()">
            </label>
            <span class="icon is-left">
                <i class="fa fa-search"></i>
            </span>
            <label class="checkbox" id="alive_checkbox" style="margin-left: 1%; margin-top: 0.5%">
                <input type="checkbox" id="aliveCheckbox" onclick="alive_filter()">
                List only alive
            </label>
        </div>
    </div>

    <div class="table-container" style="margin-top: 2%;">
        <div id="table-scroll" style="height: 600px; width: 80%; overflow: auto; margin: auto;">
            {% if endpoints|length < 1 %}
            <h1 class="title is-2" style="text-align: center">There are no Endpoints.</h1>
            <h1 class="subtitle is-4" style="text-align: center">
                This must be a mistake. Please let us know about this situation at
                <a href="/contact">Contact page.</a>
            </h1>
            {% else %}
            <table class="table is-fullwidth is-striped is-hoverable" id="endpointTable">
                <thead>
                <tr>
                    <th><abbr title="Order">#</abbr></th>
                    <th>Endpoint</th>
                    <th>Create Date</th>
                    <th>Last Check</th>
                    <th>is Alive</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th><abbr title="Order">#</abbr></th>
                    <th>Endpoint</th>
                    <th>Create Date</th>
                    <th>Last Check</th>
                    <th>is Alive</th>
                </tr>
                </tfoot>
                <tbody>

                {% set count = namespace(value=1) %}
                {% for endpoint in endpoints %}
                <tr>
                    <td>{{ count.value }}</td>
                    <td>
                        <a class="ep-class" about="{{ endpoint.url }}" href="endpoint/{{endpoint.url}}" target="_blank"
                           onclick="createPage()">
                            {{ endpoint.url | replace("https://", "") | replace("http://", "") }}
                        </a>
                    </td>
                    <td>{{ endpoint.date_created.date().strftime("%d-%m-%Y") }}</td>
                    <td>{{ endpoint.date_checked.strftime("%d-%m-%Y %H:%M:%S") }}</td>
                    <td>{% if endpoint.up_now %}
                             <img src="{{ url_for('static', filename='images/thick.png') }}" alt="True">
                        {% else %}
                             <img src="{{ url_for('static', filename='images/cross.png') }}" alt="False">
                        {% endif %}
                    </td>
                </tr>
                {% set count.value = count.value + 1 %}
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</form>
<script type="text/javascript" src="../static/js/filter_controller.js">search_filter();</script>
<script type="text/javascript" src="../static/js/filter_controller.js">alive_filter();</script>
<script type="text/javascript" src="../static/js/endpoint_controller.js">createPage();</script>
{% endblock %}