{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="table-container">
    <div id="table-scroll" style="height: 600px; width: 80%; overflow: auto; margin: auto;">
        {% if endpoints|length < 1 %}
        <h4 style="text-align: center">There are no Endpoints in the DB.</h4>
        {% else %}
        <h1 class="title is-1">Endpoints</h1>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th><abbr title="Order">#</abbr></th>
                <th>Endpoint</th>
                <th>Create Date</th>
                <th>Last Check</th>
                <th>is Alive</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th><abbr title="Order">#</abbr></th>
                <th>Endpoint</th>
                <th>Create Date</th>
                <th>Last Check</th>
                <th>is Alive</th>
            </tr>
            </tfoot>
            <tbody>

            {% set count = namespace(value=1) %}
            {% set ax = ["https://", "http://"] %}
            {% for endpoint in endpoints %}
            <tr>
                <td>{{ count.value }}</td>
                <td>
                    <a href="{{ endpoint.url }}">
                        {{ endpoint.url | replace("https://", "") | replace("http://", "") }}
                    </a>
                </td>
                <td>{{ endpoint.date_created.date() }}</td>
                <td>{{ None }}</td>
                <td>{{ None }}</td>
            </tr>
            {% set count.value = count.value + 1 %}
            {% endfor %}

            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}