{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Login</h3>
                <hr class="login-hr">
                <div class="box">
                    <form>
                        <div class="field">
                            <div class="control">
                                <label for="loginEmail">
                                    <input class="input is-large" type="email" placeholder="Your Email" autofocus="" id="loginEmail">
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label for="loginPassword">
                                    <input class="input is-large" type="password" placeholder="Your Password" id="loginPassword">
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox">
                                Remember me
                            </label>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth">
                            Login
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}