@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

/* navbar */
@media screen and (max-width: 1024px) {
    .navbar-menu {
        display: none;
    }
}

.toggler {
    display: none;
}

.navbar .toggler:checked + .navbar-brand .burger span:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
}

.navbar .toggler:checked + .navbar-brand .burger span:nth-child(2) {
    opacity: 0;
}

.navbar .toggler:checked + .navbar-brand .burger span:nth-child(3) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
}

@media screen and (max-width: 1024px) {
    .navbar .toggler:checked ~ .navbar-menu {
        display: block;
    }
}

/* Flash message colors */
.error {
    color: red
}

.info {
    color: green;
}

/* General */
html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    background: #ECF0F3;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

nav.navbar {
    border-top: 4px solid #293949;
    margin-bottom: 1rem;
}

.navbar-item.brand-text {
    font-weight: 300;
}

.navbar-item, .navbar-link {
    font-size: 14px;
    font-weight: 700;
}

.columns {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
}

.card-header-title {
    color: #8F99A3;
    font-weight: 400;
}

.info-tiles {
    margin: 1rem 0;
}

.info-tiles .subtitle {
    font-weight: 300;
    color: #8F99A3;
}

.card .content {
    font-size: 14px;
}

.card-footer-item {
    font-size: 14px;
    font-weight: 700;
    color: #8F99A3;
}

.card-footer-item:hover {
}

.card-table .table {
    margin-bottom: 0;
}

.events-card .card-table {
    max-height: 250px;
    overflow-y: scroll;
}

/* Side Menu */
.sidebar-toggle {
    margin-left: -240px;
}

.sidebar {
    width: 240px;
    height: auto;
    background: #ECF0F3;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 100;
}

.sidebar #leftside-navigation ul, .sidebar #leftside-navigation ul ul {
    margin: -2px 0 0;
    padding: 0;
}

.sidebar #leftside-navigation ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar #leftside-navigation ul li.active > a {
    color: #1BC5A3;
}

.sidebar #leftside-navigation ul li.active ul {
    display: block;
}

/* Menu content */
.sidebar #leftside-navigation ul li a {
    color: #001524;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    font-size: 14px;
    font-weight: 700;
}

/* Menu element hover effect */
.sidebar #leftside-navigation ul li a:hover {
    color: #1BC5A3;
}

.sidebar #leftside-navigation ul li a span {
    display: inline-block;
}

.sidebar #leftside-navigation ul li a i {
    width: 20px;
}

.sidebar #leftside-navigation ul li a i .fa-angle-down {
    padding-top: 3px;
}

.fa-angle-down {
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}

.fa-angle-down.toogle {
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.sidebar #leftside-navigation ul ul {
    display: none;
}

/* Submenu */
.sidebar #leftside-navigation ul ul li {
    background: #E6EBEF;
    margin-bottom: 0;
    margin-left: 15%;
    margin-right: 0;
    border-bottom: none;
}

/* Submenu content */
.sidebar #leftside-navigation ul ul li a {
    font-size: 13px;
    font-weight: 650;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #104C56;
}