{% extends './admin/logs/log_base.html' %}

{% block tabtitle %}Logs - Authentications | SpEnD{% endblock %}

{% block title %}Logs - Authentications{% endblock %}

{% block nolog %}There are no Authentications yet.{% endblock %}

{% block firstcolhead %}
    <span class="icon"><i class="fas fa-key"></i></span>
    Log-in/Log-out
{% endblock %}

{% block secondcolhead %}{{ super() }}{% endblock %}

{% block forblock %}
    {% for log in logs %}
        <tr>
            <td style="text-align: left">
                <a href="https://ipinfo.io/{{ (log.message | replace(')', '(')).split('(')[1] }}"
                   target="_blank">{{ log.message }}</a>
            </td>
            <td>{{ log.time.strftime("%d.%m.%y %H:%M") }}</td>
            <td>
                <form action="/remove_log" method="POST">
                    <button class="button is-small is-danger" name="remove_log"
                            value="{{ log.id }}" title="Remove">
                            <span class="icon"><i class="fas fa-trash"></i></span>
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}