<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/images/favicon.png">
    <script src="https://kit.fontawesome.com/c520f053b5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="/static/css/admin/admin.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% block head %}{% endblock %}
    <title>Admin | SpEnD</title>
</head>

<body>
<!-- navBar -->
<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="container">
        <input type="checkbox" id="toggler" role="button" class="toggler" aria-label="menu" aria-expanded="false"
               data-target="adminNavMenu"/>
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="/admin/dashboard" target="_self"
               style="font-weight: bold; font-size: large; color: #293949">SpEnD | Admin</a>
            <label for="toggler" class="navbar-burger burger">
                <span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span>
            </label>
        </div>
        <div id="adminNavMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="/">
                        <span class="icon has-tooltip-bottom" data-tooltip="Home Page">
                            <i class="fas fa-home fa-lg" style="color: #293949"></i></span>
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="/logout">
                        <span class="icon has-tooltip-bottom" data-tooltip="Log out">
                            <i class="fas fa-sign-out-alt fa-lg" style="color: #293949"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--sidebar menu-->
<div class="container">
    <div class="columns">
        <div class="column is-3 ">
            <aside class="sidebar">
                <div id="leftside-navigation" class="nano">
                    <ul class="nano-content">
                        <li><a href="/admin/dashboard">
                            <span class="icon"><i class="fab fa-watchman-monitoring"></i></span>Dashboard</a>
                        </li>
                        <li class="sub-menu">
                            <a><span class="icon"><i class="fas fa-stream"></i></span>Endpoint Management
                                <i class="arrow fa fa-angle-down pull-right"></i></a>
                            <ul>
                                <li><a href="/admin/manage/approved">
                                    <span class="icon"><i class="fas fa-check-double"></i></span>Approved</a>
                                </li>
                                <li><a href="/admin/manage/pending">
                                    <span class="icon"><i class="fas fa-hourglass-half"></i></span>Pending
                                    {% if pending_count > 0 %}
                                        <span style="margin-left: 20px">| {{ pending_count }} |</span>
                                        <span class="icon"><i class="far fa-bell"></i></span>
                                    {% endif %}</a>
                                </li>
                                <li><a href="/admin/manage/suspended">
                                    <span class="icon"><i class="fas fa-stop"></i></span>Suspended</a>
                                </li>
                                <li><a href="/admin/manage/removed">
                                    <span class="icon"><i class="fas fa-trash-alt"></i></span>Removed</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a><span class="icon"><i class="fas fa-microchip"></i></span>Crawling
                                <i class="arrow fa fa-angle-down pull-right"></i></a>
                            <ul>
                                <li><a href="/admin/crawl/crawler">
                                    <span class="icon"><i class="fas fa-spider"></i></span>Crawler</a>
                                </li>
                                <li><a href="/admin/crawl/scheduled_tasks">
                                    <span class="icon"><i class="far fa-clock"></i></span>Scheduled Tasks</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a><span class="icon"><i class="fas fa-file-medical-alt"></i></span>Logs
                                <i class="arrow fa fa-angle-down pull-right"></i></a>
                            <ul>
                                <li><a href="/admin/logs/exceptions">
                                    <span class="icon"><i class="fas fa-bug"></i></span>Exceptions/Errors</a>
                                </li>
                                <li><a href="/admin/logs/crawler">
                                    <span class="icon"><i class="fas fa-file-signature"></i></span>Crawler Logs</a>
                                </li>
                                <li><a href="/admin/logs/status">
                                    <span class="icon"><i class="fas fa-heartbeat"></i></span>Status Check Logs</a>
                                </li>
                                <li><a href="/admin/logs/authentications">
                                    <span class="icon"><i class="fas fa-fingerprint"></i></span>Authentications</a>
                                </li>
                                <li><a href="/admin/logs/guests">
                                    <span class="icon"><i class="fas fa-users"></i></span>Guests</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a><span class="icon"><i class="fas fa-keyboard"></i></span>
                                Keyword Management <i class="arrow fa fa-angle-down pull-right"></i></a>
                            <ul>
                                <li><a href="/admin/keywords/crawl_keys">
                                    <span class="icon"><i class="fas fa-i-cursor"></i></span>Crawl Keys</a>
                                </li>
                                <li><a href="/admin/keywords/second_crawl_keys">
                                    <span class="icon"><i class="fas fa-sync"></i></span>Inner Keys</a>
                                </li>
                                <li><a href="/admin/keywords/wanted_keys">
                                    <span class="icon"><i class="fas fa-star"></i></span>Wanted Keys</a>
                                </li>
                                <li><a href="/admin/keywords/unwanted_keys">
                                    <span class="icon"><i class="fas fa-exclamation"></i></span>Unwanted Keys</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a><span class="icon"><i class="fas fa-users-cog"></i></span>User Management
                                <i class="arrow fa fa-angle-down pull-right"></i></a>
                            <ul>
                                <li><a href="/admin/users/change_password">
                                    <span class="icon"><i class="fas fa-user-lock"></i></span>Change Password</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>

        <script type="text/javascript" src="../../static/js/accordion-toggler.js"></script>

        <!-- body block -->
        <div class="column is-9" id="content_column">{% block body %}{% endblock %}</div>

    </div>
</div>
</body>
</html>