<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpEnD | Admin</title>
    <link rel="icon" href="https://i.imgur.com/wgzjCcl.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="/static/css/admin/admin.css">
    {% block head %}{% endblock %}
</head>

<body>
<!-- navBar -->
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="/admin/dashboard">
                SpEnD | Dashboard
            </a>
            <div class="navbar-burger burger" data-target="dashboardNavMenu"
                 onclick="document.querySelector('.navbar-menu').classList.toggle('is-active')">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="dashboardNavMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="/">Site Home</a>
                </div>
                <div class="navbar-item">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--page content-->
<div class="container">
    <div class="columns">
        <div class="column is-3 ">
            <aside class="menu">
                <p class="menu-label">
                    Endpoint Management
                </p>
                <ul class="menu-list">
                    <li><a href="/admin/dashboard">Dashboard</a></li>
                    <li><a href="/admin/endpoints/approved">Approved</a></li>
                    <li><a href="/admin/endpoints/pending">Pending ({{ pending_count }})</a></li>
                    <li><a href="/admin/endpoints/suspended">Suspended</a></li>
                    <li><a href="/admin/endpoints/removed">Removed</a></li>
                </ul>
                <p class="menu-label">
                    Logs
                </p>
                <ul class="menu-list">
                    <li><a href="/admin/logs/exceptions">Exceptions/Errors</a></li>
                    <li><a href="/admin/logs/crawler">Crawler Logs</a></li>
                    <li><a href="/admin/logs/authentications">Authentications</a></li>
                    <li><a href="/admin/logs/guests">Guests</a></li>
                </ul>
            </aside>
        </div>

        <div class="column is-9" id="content_column">
            <!-- body block -->
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

</body>

</html>